#build stuff
/backend/launcher/obj
/backend/launcher/bin
/backend/submit/obj
/backend/submit/bin

#dotnet configs
/backend/launcher/Properties
/backend/submit/Properties

#data
/data/

#ide
/launcher/.idea
/submit/.idea
